/* CSS Style for FreBDM */

/* Two-columns (optional) */
/* body { -webkit-column-count: 2; } */

/* Custom font "EB Garamond", , "Times New Roman", Times 


/*Texte biblique en lui-même "body" */
body { -webkit-column-count: 1 ; margin-top: 5px ; text-align: justify ; font-family: URW Chancery L ; color: }
div[subSection]{
    color: black; text-align: justify ; font-family: "Linux Libertine O" ; }

.seg[otPassage] {  color: blue; }

/* Texte des introduction */
.introMaterial { -webkit-column-count: 1 ; background-color: ; color:chocolate ; text-align: justify ; }

/* Titre 1 pour introduction */
.x-IS { color: black; font-family: "Linux Libertine O" ; text-align: center ;  margin: 0.0cm ; margin-top: 30px ; }

.x-IS2 { color: black; font-family: "Linux Libertine O" ; text-align: left ;  margin: 0.0cm ; margin-top: 30px ; font-size: 28px ; }

/* Différents titres par ordre de grandeur dans le texte biblique */
.main { color: SaddleBrown; text-align: center ; font-family: "Linux Libertine O" ; font-size: 50px ; margin: 0.0cm ; margin-top: 30px ; }

.x-ms { color: maroon; text-align: center ; font-family: "Linux Libertine O" ;  font-size: 40px ; margin: 0.0cm ; }

.x-s { color: brown; text-align: left ; font-family: "Linux Libertine O" ; font-size: 30px ;}

.x-s2 { color: orange; text-align: left ; font-family: "Linux Libertine O" ; font-size: 28px ; line-height: 10px; margin: 0.0cm ; margin-top: 30px ;}

